<div class="container-fluid h-100">
    <div class="row" style="height: calc(100% - 70px);">
        <div class="col-10 h-100 p-0">
            <div class="row card shadow m-2" style="height: 80%">
                <div class="col-12 h-100 p-0">
                    <app-sales-table class="h-100 w-100"></app-sales-table>
                </div>
            </div>
            <div class="card m-2" style="height: 20%">
            <div class="row h-100 m-0 p-0">
                <div class="col-3 h-100">
                    <div class="row h-def-4 align-items-center ml-2"><span>Наименование</span></div>
                    <div class="row h-def-4 align-items-center ml-2"><span>Артикул</span></div>
                    <div class="row h-def-4 align-items-center ml-2"><span>Ед. измер.</span></div>
                    <div class="row h-def-4 align-items-center ml-2"><span>Цена</span></div>
                </div>
                <div class="col-5 h-100">
                    <div class="row h-def-4 align-items-center ml-2">фывфыв</div>
                    <div class="row h-def-4 align-items-center ml-2">2</div>
                    <div class="row h-def-4 align-items-center ml-2">2</div>
                    <div class="row h-def-4 align-items-center ml-2">2</div>
                </div>
                <div class="col-4 h-100 d-flex align-items-center justify-content-end text-right">
                    <span class="w-100" style="font-size: 2.5rem;font-weight: 700;">10000.43</span>
                </div>
            </div>
        </div>
        </div>
        <div class="col-2 h-100">

        </div>
    </div>
</div>