<div class="container-fluid h-100 p-0" modalHolder>
    <div class="row m-0 p-0 h-100">
        <div class="col-12 h-100" id="cardTable">
            <div class="row" style="height: calc(100% - 70px);">
                <div class="col h-100">
                    <div class="row h-100">
                        <div class="card w-100 ml-2 mb-2 mt-2 mr-1" style="height: calc(100% - 125px);">
                            <div class="col-12 mh-100">
                                <div class="row h-100">
                                    <app-sales-table class="h-100 w-100"></app-sales-table>
                                </div>
                            </div>
                        </div>
                        <div class="card w-100 mr-1 ml-2 mb-2" style="height: 100px">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">Наименование</div>
                                            <div class="col-6">Картошка</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">Артикул</div>
                                            <div class="col-6">412312</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">Ед. измер.</div>
                                            <div class="col-6">кг.</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">Цена</div>
                                            <div class="col-6">0.08</div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right my-auto">
                                        <h1><span>3.15</span></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row h-100">
                        <div class="card w-100 mr-1 mt-1 mb-1" style="background: #2d3350;">
                            <div class="col-12 h-100 p-0">
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a class="btn btn-standart w-100 h-100 d-flex" (click)="showMenu();">
                                            <img src="../../assets/icons/menu.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/menu2.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex" (click)="logout();">
                                            <img src="../../assets/icons/locked.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/pending-cart.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/shopping-bag2.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/shopping-bag.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a (click)="doAnulReceipt()" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/shopping-cart-anul.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/shopping-cart.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/tag.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/tag_sum.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/interest.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/money-refund.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/add-cart.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/refund.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a class="btn btn-standart w-100 h-100 d-flex" (click)="openModalDialog('AddProduct');">
                                            <img src="../../assets/icons/search.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/no-credit-card.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col" style="width: 5vh;padding:3px;">
                                        <a href="#" class="btn btn-standart w-100 h-100 d-flex">
                                            <img src="../../assets/icons/remove-cart.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                    <div class="col" style="width: 13vh;padding:3px;">
                                        <a (click)="ShowBarcodeProduct()" class="btn btn-standart-off w-100 h-100 d-flex">
                                            <img src="../../assets/icons/barcode-product.png" width="100%" class="my-auto" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row m-0 p-0" style="height: calc(100% / 10);">
                                    <div class="col h-100" style="width: 5vh;padding:3px;">
                                        <a href="#" class="btn btn-success w-100 h-100 d-flex">
                                            <img src="../../assets/icons/pay.png" height="100%" class="my-auto mx-auto" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 70px;">
                <hr class="hr bg-white w-100 my-1" />
                <div class="col">
                    <img src="../../assets/icons/imgpsh_fullsize.png">
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" #modalWindow role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" [ngSwitch]="Command">
            <ng-template ngSwitchCase="AddProduct">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mt-2" value="{{inputModal}}">
                            </div>
                            <div class="col bg-standart">
                                <!-- <app-dial class="w-100" [test]="false" (onChanged)="changeInputModal($event)" (onSelected)="selectInputModal($event)"></app-dial> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">footer</div>
            </ng-template>
            <ng-template ngSwitchCase="SearchProduct">
                <div class="modal-header">header</div>
                <div class="modal-body">SearchProduct</div>
                <div class="modal-footer">footer</div>
            </ng-template>
            <ng-template ngSwitchDefault>
                <div class="modal-header">херня</div>
                <div class="modal-body">херня</div>
                <div class="modal-footer">херня</div>
            </ng-template>
        </div>
    </div>
</div>

<ng-container #test1>
    <span>asd</span>
    <div><span>asdghgf</span></div>
</ng-container>